.nav-bar{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    height: 56px;
    width: 100dvw;
    background-color: #2f2f2f;
}
.brand-container{
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center center;
}
.brand-link{
    place-items: center center;
    display: flex;
}
.brand-icon{
    height: 2em;
    margin: 8px 8px 8px 16px;
    will-change: filter;
    transition: ease-in-out 0.3s;
    transition: filter 300ms;
}
.brand-icon:hover{
    animation: logo-spin ease-in-out 0.8s;
    filter: drop-shadow(0 0 32px #61dafb);
}
.links-list{
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding-left: 12px;
}
.links-list{
    cursor: pointer;
}
.links-list li{
    transition: ease-in-out 0.3s;
}
.links-list li::after{
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -6px;
    height: 3px;
    background-color: #00aaff;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.links-list li:hover::after {
    transform: scaleX(1);
}
.links-list li:hover{
    filter: drop-shadow(0 0 32px #61dafb);
}
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}